html, body {
    height: 100%;
}


body{
    margin: 0;
    background-color: #FCFCFC;
);
    
}

#body{
    margin: auto;
    width: 800px;
    background-color: #FEFEFE;
    padding: 0 20px;
    min-height: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

body,table{
    font-family: 'Play', arial, sans-serif;
}

pre{
    font-family: 'Droid Sans Mono', sans serif;
}

h1{
	overflow: hidden;
    font-size: 32px;
    margin: 10px 0;
    float: left;
    width: 50%;
}

h1 .phpunit{
  background-color: black;
  border-radius: 30px;
  border: 1px solid #222;
  color: white;
  float: left;
  margin: 10px 10px 0 0;
  padding: .20em .5em;
  background: -webkit-linear-gradient(top, #444 0%, #555 45%, #333 55%, #000 100%);
  background: -moz-linear-gradient(top, #444 0%, #555 45%, #333 55%, #000 100%);	
  box-shadow: 0 0 10px #666 inset;
  letter-spacing: .035em;
}

h1 .butler{
    font-size: 36px;
    padding: .15em .5em;
	margin: 10px;
    font-weight: 400;
	letter-spacing: .025em;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#input-test{
    width: 99%;
    font-size: 18px;
    color: #333;
    line-height: 24px;
    padding: 3px 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

#actions{
    float: right;
    width: 30%;
    font-size: 16px;
    text-align: right;
    margin-top: 57px;
}

#actions input{
    vertical-align: text-top;
}

#input-test:focus{
    box-shadow: 0 0 4px #9999FF;
    border-color: #888899;
}

#btn-run-test{
    width: 100%;
    padding: 0.25em 1em;
    margin-bottom: .25em;
}

.icon{
	float: left;
	border-radius: 15px;
	line-height: 12px;
 	color: white;
	width: 16px;
	height: 16px;
}

.icon .symbol{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100%;
	vertical-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Play';
}

.icon.skipped, .icon.notify, .icon.incomplete{
	background: -webkit-linear-gradient(top, #FFA500 0%, #FF8c00 100%);
	background: -moz-linear-gradient(top, #FFA500 0%, #FF8c00 100%);
	border: 1px solid #FFA000;
}

.icon.skipped .symbol{

}

.icon.success{
	background: -webkit-linear-gradient(top, #009000 0%, #007000 100%);
	background: -moz-linear-gradient(top, #009000 0%, #007000 100%);
	border: 1px solid #006400;
}

.icon.error, .icon.failure{
	background: -webkit-linear-gradient(top, #C02222 0%, #900000 100%);
	background: -moz-linear-gradient(top, #C02222 0%, #900000 100%);
	border: 1px solid #8B0000;
}

.icon.error .symbol, .icon.failure .symbol{	
    margin-left: -1px;
}

table.results{
	margin: 1em 0;
	font-size: 14px;
	border-spacing: 0 5px;
	border-collapse: seperate;
    width: 100%;
}

td,th{
	margin: 0;
}

th{
	padding: 0 8px;
    letter-spacing: .06em;
}

th.test{
	min-width: 200px;
    font-size: 18px;
    text-align: left;
    color: #006393;
    padding-left: 5px;
}

th.time, th.memory{
	min-width: 75px;
}

th.message{
	min-width: 250px;
}

table td{
	padding: 8px;
	border: 1px solid #666;
	border-width: 1px 1px 1px 0;
    vertical-align: top;
}

td.test{
	height: 18px;
	background-color: rgba(0,0,0,.75);
	color: white;
	border-radius: 6px 0 0 6px;
    border-left-width: 1px;
}

td.test .icon{
	margin-right: 10px;
}

td.message{
	border-radius: 0 6px 6px 0;
}

tr.notify td, tr.skipped td, tr.incomplete td{
	background-color: rgba(255,255,0,.25);
}

tr.success td{
	background-color: rgba(0,255,0,.25);
}

tr.error td, tr.failure td{
	background-color: rgba(255,0,0,.25);
}

td.test{
    background-color: #2c2c2c !important;
}

td.time, td.memory{
	text-align: center;
}

td.empty{
    border: none;
    height: 5px;
    line-height: 5px;
}


tr.trace td.test{
    border-radius: 6px 0 0 0;
}

tr.trace td.message{
    border-radius: 0 6px 0 0;
}

tr.trace-output td{
    border-radius: 0 0 6px 6px;
    border: 1px solid #DDD;
    background-color: #FFE9E9;
}

tr.trace-output td.message{
    color: #222;
    padding-top: 0;
    border-left: none;
    font-size: 13px;
}

tr.trace-output td.empty{
    border-right: none;
    border-radius: 0 0 0 6px;
}

.file{
    font-size: 12px;
    color: #393988;
}

p{
    margin: 0 0 5px;
}

.ui-menu-item{
    font-size: 18px;
}

canvas.coverage{
    width: 18px;
    height: 18px;
    background-color: red;
}

.ui-autocomplete-loading{
    background: url('../images/spinner.gif') 99% 7px no-repeat;
}

#suite_total, .error_wrap, .error_desc{
    margin: .25em 0 1em;
    color: #666;
    width: 100%;
    padding: 0 5px;
}

#suite_count{
    float: right;
    margin-right: 5px;
}

.error_wrap{
    padding: 5px 0;
    color: darkred;
}

.error_wrap span{
    padding: 0 10px;
}